*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,button{
    font-family: inherit;
    font-size: inherit;
}


.form1{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: yellow;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
}
