# Practice Programs - Because nobody needs to see my debugging disasters
/Practice Programs/
Practice Programs/

#node_modules
/01-Semester/Labs/Web Application/Problem Sheet 15/student-skillset-app/node_modules
/01-Semester/Labs/Web Application/Problem Sheet 16/file-handling-app/node_modules

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env

# C/C++
*.o
*.exe
*.out
a.out

# Java
*.class
*.jar
*.war

# Temporary files
*.tmp
*.bak
*.log